* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

    /* DEBUG */

/* .container {
    border: 1px solid blue;
    overflow-y: auto;
}

.wrapper {
    border: 1px solid red;
}

.b-v-section {
    border: 1px solid green;
}
.jumbotron {
     border: 1px solid blueviolet;
 } */

    /* UTILITY */


.margin-left {
    margin-left: 30px;
}
.margin-right {
    margin-right: 30px;
}

.flex {
    display: flex;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.green-button {  
    background-color: #097a7c;
    border-color: transparent;
}
.green-button,
.transparent-button {
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}
.transparent-button {
    background-color: transparent;
    border: 1px solid #097a7c;
}

.green-underline {
    height: 20px;
    border-radius: 5px;
    background-color: #097a7c41;
    padding: 0 5px;
}

.green-text {
    color: #097a7c;
}

.blue-text {
    color: #24343c;
}
/* JUMBOTRON E NAV */

.nav-info {
    width: 100%;  
    background-color: #24343c;
}

.info {
    height: 70px;
    line-height: 70px;   
}

.open-hours {
    width: 30%; 
    color: #babdbe;
}

.contacts {
    text-align: right;
    width: 70%;
    color: #babdbe;
}
.contacts span {
    padding-right: 20px;
}
.contacts span i {
    padding-right: 7px;
}

.layover {
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}
.nav {
    width: 100%;
    padding-top: 10px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #babdbe;
}

.navbar ul li {
    align-self: center;
    list-style: none;
    padding-left: 40px;
    text-transform: uppercase;
}

.navbar ul li a {
    text-decoration: none;
    color: #097a7c;
}

.logo {
    width: 150px; 
}

.jumbotron {
    width: 100%;
    height: 650px;
    background-image: url(../img/img/bg-4.jpg);
    background-size: cover;  
}

.jumbo-info {
    width: 400px;
    height: 300px;
    margin-top: 100px;
    color: white;
    font-size: x-large;
}

.jumbo-info h4,
.company-left h4,
.actions-projects h4,
.process-management h4,
.feedback-text h4,
.footer-left h4 {
    color: #097a7c;
    text-transform: uppercase;
}
.jumbo-info h1,
.company-left h1,
.feedback-text h1,
.footer-left h1 {
    padding: 15px 0;
    font-weight: 900;
    font-size: 40px;
}
.jumbo-info button,
.company-left button {
    margin-top: 30px;
}
/* MAIN CONTENT */

/* BUSINESS VALUE SECTION  e TRUSTED FEEDBACK*/ 

.business-value,
.feedback-agency,
.feedback-text {
    justify-content: center;
    align-items: center;   
    height: 400px;
    background-color: #eef4ed ;
}

.b-v-section,
.feed-section {
    flex-direction: column;
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 30px;
}
.b-v-section h1 {
    margin: 10px 0;
}
.rounded-icons {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #daeced;
    color: #1a948f;
    font-size: 25px;
}

/* COMPANY SECTION */

.company {
    height: 600px;
    overflow: hidden;
}
.company-left,
.company-right {
    width: 50%;
    height: 100%;
}
.company-left {
    height: 600px;
    margin-top: 100px;  
    padding: 20px 150px;
}
.company-left .transparent-button {
    color: #097a7c;
}
.company-right {
    background-size: cover;
    background-position: center;
    background-image: url(../img/img/about-5.jpg);
}



/* ACTIONS E PROJECTS SECTION */

.actions-projects {
    width: 100%;   
    background-color: #121117;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
    padding-bottom: 40px;
}
.actions-projects .text {
    margin-top: 100px;
}
.actions-projects h1 {
    font-weight: 900;
    font-size: 40px;
    color: white;
    margin: 30px 0;
}

.actions-projects ul {
    justify-content: center;
}
.actions-projects ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.72);
    text-transform: uppercase;
    padding: 0 15px;
    margin-bottom: 20px;
}

.card-container {
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 5px;
    margin: 15px ;
}
.img-text {
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 25px;
}

.card img {
    width: 100%;
    border-radius: 5px;
    filter: brightness(0.6);
}

/* PROCESS MANAGEMENT SECTION */

.process-management {
    justify-content: center;
    text-align: center;
    margin: 60px 0 ;
}
.process-management .text {
    width: 100%;
}

.process-management h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 30px 0;
}
.process-management .subtitle {
    color: rgb(68, 68, 68);
    width: 50%;
    margin: auto;
}

.plan-timeline {
    justify-content: center;
    align-items: center;
    height: 100px;
}

.line {
    width: 215px;
    height: 5px;
    background-color: #097a7c41;
}
.circle {
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #097a7c41;
    font-size: 14px;
    font-weight: bold;
}

.plan-text {
    padding: 0 100px 0 100px;
    justify-content: space-between;
}
.plan-text h2 {
    margin-bottom: 15px;
}

.plan-points {
    width: 215px;
}

/* TRUSTED FEEDBACK SECTION */
.feedback {
    flex-direction: column;
    
 
}
.feedback-text {
    flex-direction: column;
    padding: 55px;
    height: 200px;
}

.feedback-text .subtitle {
    color: rgb(92, 92, 92);
    width: 50%;
    text-align: center;
}

.feedback-agency {
    padding: 40px 0;
}

.feed-section img {
    width: 130px;
    margin-bottom: 25px;
}

.feed-section p {
    color: rgb(92, 92, 92);
    line-height: 25px;
}

.feed-section .fas {
    color: rgb(181, 181, 181);
    align-self: flex-end;
}

/* FOOTER */

footer {
    padding: 70px;
    background-color: #121117;
}

.footer-left {
    width: 60%;
    height: 400px;
}
.footer-left h1,
.footer-right h3 {
    color: white;
}
.footer-left p,
.footer-right p {
    color: #e4eae6b8;
}

.form {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form input {
    width: 49%;
    padding: 8px;
    margin-top: 8px;
    background-color: #202427;
    color: #e4eae6;
    border: 1px solid #202427;
    border-radius: 5px;
}

#text-message {
    display: flex;
    width: 100%;
    padding-bottom: 90px;
    text-align: start;
    overflow-wrap: break-word; 
    margin-bottom: 15px;

}

.footer-right {
    width: 40%;
    height: 400px;
    margin-left: 30px;
}

.footer-right h3,
.footer-right p {
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #097a7c41;
    color: #097a7c;
    justify-content: center;
    align-items: center;
}

.footer-icons {
    margin-top: 15px;
}

.footer-icons span {
    align-self: center;
    margin-left: 8px;
}

.footer-right button {
    margin-top: 15px;
}