* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

    /* DEBUG */

.container {
    border: 1px solid blue;
    overflow-y: auto;
}

.wrapper {
    border: 1px solid red;
}

.b-v-section {
    border: 1px solid green;
}

    /* UTILITY */

.container {
    width: 100%;
    height: 100vh;
}

.margin-left {
    margin-left: 30px;
}
.margin-right {
    margin-right: 30px;
}

.flex {
    display: flex;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.green-button {  
    background-color: #097a7c;
    border-color: transparent;
}
.green-button,
.transparent-button {
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
}
.transparent-button {
    background-color: transparent;
    border: 1px solid #097a7c;
}

.green-underline {
    height: 20px;
    border-radius: 5px;
    background-color: #097a7c41;
    padding: 0 5px;
}

.green-text {
    color: #097a7c;
}
/* JUMBOTRON E NAV */

.nav-info {
    width: 100%;  
    background-color: #24343c;
}

.info {
    height: 70px;
    line-height: 70px;   
}

.open-hours {
    width: 30%; 
    color: #babdbe;
}

.contacts {
    text-align: right;
    width: 70%;
    color: #babdbe;
}
.contacts span {
    padding-right: 20px;
}
.contacts span i {
    padding-right: 7px;
}

.layover {
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
}
.nav {
    width: 100%;
    padding-top: 10px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #babdbe;
}

.navbar ul li {
    align-self: center;
    list-style: none;
    padding-left: 40px;
}

.logo {
    width: 150px; 
}

.jumbotron {
    width: 100%;
    height: 650px;
    border: 1px solid blueviolet;
    background-image: url(../img/img/bg-4.jpg);
    background-size: cover;  
}

.jumbo-info {
    width: 400px;
    height: 300px;
    margin-top: 100px;
    color: white;
    border: 1px solid white;
}
.jumbo-info h4,
.company-left h4,
.actions-projects h4 {
    color: #097a7c;
    text-transform: uppercase;
}
.jumbo-info h1,
.company-left h1 {
    padding: 15px 0;
    font-weight: 900;
}
.jumbo-info button,
.company-left button {
    margin-top: 30px;
}
/* MAIN CONTENT */

/* BUSINESS VALUE SECTION */

.business-value {
    justify-content: center;
    align-items: center;   
    height: 400px;
    background-color: #eef4ed ;
}

.b-v-section {
    flex-direction: column;
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 20px 30px;
}
.b-v-section h1 {
    margin: 10px 0;
}
.rounded-icons {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #daeced;
    color: #1a948f;
    font-size: 25px;
}

/* COMPANY SECTION */

.company {
    height: 600px;
    
}
.company-left,
.company-right {
    width: 50%;
    height: 100%;
}
.company-left {
    height: 600px;
    margin-top: 100px;  
    padding: 20px 150px;
}
.company-left .transparent-button {
    color: #097a7c;
}
.company-right {
    background-size: cover;
    background-position: center;
    background-image: url(../img/img/about-5.jpg);
}



/* ACTIONS E PROJECTS SECTION */

.actions-projects {
    width: 100%;
    height: 100vh;
    background-color: #121117;
    justify-content: center;
    text-align: center;
}
.actions-projects .text {
    margin-top: 100px;
}
.actions-projects h1 {
    font-weight: 900;
    font-size: 40px;
    color: white;
    margin: 30px 0;
}

.actions-projects ul {
    justify-content: center;
}
.actions-projects ul li {
    list-style: none;
    color: rgba(255, 255, 255, 0.72);
    text-transform: uppercase;
    padding: 0 15px;
    margin-bottom: 20px;
}

.card-container {
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 5px;
    margin: 15px ;
}
.img-text {
    position: absolute;
    bottom: 40px;
    color: white;
    font-size: 25px;
}

.card img {
    width: 100%;
    border-radius: 5px;
    filter: brightness(0.6);

}

